---
import { client } from '@lib/microcms';
import Layout from '@layouts/Layout.astro';

export async function getStaticPaths() {
  const { contents } = await client.getList({
    endpoint: 'project',
  });
  return contents.map((project) => ({
    params: { id: project.id },
  }));
}

const { id } = Astro.params;
const project = await client.getListDetail({
  endpoint: 'project',
  contentId: id,
});
---

<Layout title={project.title} description={project.title}>
  <div class="mx-auto px-16 md:px-120">
    <h1 class="text-28 md:text-32b mt-60 md:mt-120">{project.title}</h1>
    <div class="itesm-end mt-24 flex justify-between">
      <p class="text-14">#{project.tags.join(' #')}</p>
      <div class="items-ceter flex justify-end gap-8">
        <p>DemoURL:</p>
        <a class="text-14 hover:text-accent transition-colors duration-300" href={project.url}
          >{project.url}</a
        >
      </div>
    </div>
    {
      project.video_thumbnail ? (
        <video class="mt-40 h-600" src={project.video_thumbnail} autoplay muted loop playsinline />
      ) : (
        <img class="mt-40" src={project.image_thumbnail.url} alt={project.title} />
      )
    }
    <div
      class="description text-16 mt-80 leading-normal text-black"
      set:html={project.description}
    />
  </div>
</Layout>

<style>
  @reference "@styles/global.css";

  .description :global(a):hover {
    @apply text-accent transition-colors duration-300;
  }
</style>
